<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Verify Email</title>
    <style>
        body {
            font-family: "Proxima Nova", sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            line-height: 1.4;
            margin: 0;
            padding: 0;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        .container {
            text-align: center;
            margin: 36px;
        }

        .title {
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        .subtitle {
            margin-bottom: 36px;
        }

        .button {
            background-color: #0E65F2;
            border-radius: 6px;
            border-width: 0;
            padding: 10px 24px;
            font-weight: bold;
            color: #FFF !important;
            text-decoration: none;
        }
    </style>
</head>

<body class="">
<div class="container">
    <p class="title">You have been tagged</p>
    <p class="subtitle">In Bounty {{bountyBlockchainId}} | <strong>{{bountyTitle}}</strong></p>
    <div>
        <a href="{{ commentsUrl }}" class="button">See comments</a>
    </div>
    <p class="subtitle">If you want to turn off e-mail notifications go to your <a href="{{websiteUrl}}/account">account Settings page</a>.</p>
</div>
</body>

</html>
